<h3><%= link_to "Article " + article.id.to_s, article_path(:id => article.id) %> (Author: 
    <% if current_user?(article.user) %>
    You
    <% else %>
    <%= user_link(article.user) %>
    <% end %>)
    <%= render :partial => 'users/follow_form', :locals => { user: article.user } %>
</h3>
<div>
    <%= image_tag article.picture.url if article.picture? %>
</div>
<div>
    <strong>Description:</strong>
    <%= article.description %>
</div>
<div>
    <strong>Tag: </strong>
    <%= raw(article.hash_tags.map{ |t| 
    raw(link_to "#" + t.name, search_path(:search => "#" + t.name), :method => :get)
    }.join(' ')) %>
</div>
<hr />