<%= render 'article', article: @article %>

<%= link_to 'Edit', edit_article_path if current_user?(@article.user) %>
<%= link_to 'Back', user_path(:id => @article.user.id) %>

<hr />
<h2>Comments (<%= @article.comments.count %>)</h2>
<%= render @article.comments %>

<hr />
<h2>Add comment:</h2>

<%= render 'comments/form' %>