<h2>Article <%= @article.id %></h2>

<%= render 'article', article: @article %>

<%= link_to 'Edit', edit_article_path %>
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add comment:</h2>

<%= render 'comments/form' %>