<h2>Article <%= @article.id %></h2>

<%= render 'article', article: @article %>

<%= link_to 'Edit', edit_article_path %>
<%= link_to 'Back', articles_path %>

<hr />
<h2>Comments (<%= @article.comments.count %>)</h2>
<%= render @article.comments %>

<hr />
<h2>Add comment:</h2>

<%= render 'comments/form' %>