<h2>Article <%= @article.id %></h2>
<div>
    <strong>File Path:</strong>
    <%= @article.file_path %>
</div>
<div>
    <strong>Description:</strong>
    <%= @article.description %>
</div>

<%= link_to 'Edit', edit_article_path %>
<%= link_to 'Back', articles_path %>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add comment:</h2>

<%= render 'comments/form' %>