<h1>
<% if current_user?(@user) %>
    Your
<% else %>
<%= user_link(@user) %>'s
<% end %>
Articles</h1>
<%= render :partial => 'users/follow_form', :locals => { :user => @user } %>

<%= link_to 'New Article', new_article_path if current_user?(@user) %>

<%= will_paginate @articles %>

<table border="1px;">
    <tr>
        <th>Description</th>
        <th>Image</th>
        <th>Tags</th>
        <th>Action</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
        <td><%= article.description %></td>
        <td><%= image_tag article.picture.url if article.picture? %></td>
        <td><%= raw(article.hash_tags.map{ |t|
    raw(link_to "#" + t.name, search_path(:search => "#" + t.name), :method => :get)
    }.join(' ')) %></td>
        <td>
            <%= link_to 'Show', article_path(article) %>
            <% if current_user?(article.user) %>
            <%= link_to 'Edit', edit_article_path(article) %>
            <%= link_to 'Destroy', article_path(article), method: :delete, data: { confirm: 'Are you sure?'} %>
            <% end %>
        </td>
    <% end %>
    </tr>
</table>

<%= will_paginate @articles %>
