<!DOCTYPE html>
<html>
<head>
  <title>RoR for SSS</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <% if notice %>
    <p class="notice" style="color:red;" ><b><%= notice %></b></p>
    <% end %>
    <% if alert %>
    <p class="alert" style="color:blue;"><b><%= alert %></b></p>
    <% end %>

    <% if user_signed_in? %>
    <ul>
        <li>Welcome, <%= link_to current_user.email, edit_user_registration_path %></li>
        <li><%= link_to 'Home', users_path %></li>
        <li><%= link_to 'My Profile', user_path(:id => current_user.id) %></li>
        <li><%= link_to 'Search', search_path %></li>
        <li><%= link_to 'Log out', destroy_user_session_path, method: :delete %></li>
    </ul>
    <hr/>
    <% end %>
<%= yield %>

</body>
</html>
